<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>wgm.freshbooks</id>
	<name>[WGM] Freshbooks Integration</name>
	<description>Integrates with Freshbooks for synchronizing customer contact information, generating estimates, logging paid time against client projects, etc.  Plugin development was sponsored by Nolan Interactive - http://www.nolaninteractive.com/</description>
	<author>WebGroup Media, LLC.</author>
	<version>1.0.0</version>
	<link>https://github.com/cerb5-plugins/wgm.freshbooks</link>
	<image>plugin.png</image>
 
	<!-- Requirements -->

	<requires>
		<app_version min="5.6" max="5.7" />
		<php_extension name="curl" />
	</requires>
 
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.3.0" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<patch version="5.3.0" revision="2" file="patches/5.3.0.php" />
	</patches>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/App.php">
			<class name="WgmFreshbooksAPI" />
			<class name="WgmFreshbooksHelper" />
		</file>
		<file path="api/dao/wgm_freshbooks_client.php">
			<class name="DAO_WgmFreshbooksClient" />
			<class name="Model_WgmFreshbooksClient" />
			<class name="SearchFields_WgmFreshbooksClient" />
			<class name="View_WgmFreshbooksClient" />
		</file>
	</class_loader>

	<!-- Templates -->
	
	<!--
	<templates set="example.template.namespace">
		<template path="path/to/template.tpl" />
	</templates>
	-->	

	<!-- Extensions -->
 
	<extensions>
		
		<!-- Event Listeners -->
		
		<extension point="devblocks.listener.event">
			<id>wgm.freshbooks.listener</id>
			<name>Freshbooks Event Listener</name>
			<class>
				<file>api/App.php</file>
				<name>WgmFreshbooks_EventListener</name>
			</class>
			<params>
				<param key="events">
					<value>
						<data key="org.merge" />						
					</value>
				</param>
			</params>
		</extension>

		<!-- Controller -->
		
		<extension point="devblocks.controller">
			<id>wgm.freshbooks.controller</id>
			<name>Freshbooks Controller</name>
			<class>
				<file>api/App.php</file>
				<name>WgmFreshbooksController</name>
			</class>
			<params>
				<param key="uri" value="wgm.freshbooks" />
			</params>
		</extension>

		<!-- Config Tab -->

		<extension point="cerberusweb.config.tab">
			<id>wgm.freshbooks.config_tab</id>
			<name>Freshbooks Config Tab</name>
			<class>
				<file>api/App.php</file>
				<name>WgmFreshbooksConfigTab</name>
			</class>
			<params>
				<param key="uri" value="freshbooks" />
    			<param key="title" value="wgm.freshbooks.common" />
			</params>
		</extension>
		
		<!-- Setup Page Sections -->
		
		<extension point="cerberusweb.ui.page.section">
			<id>wgm.freshbooks.setup.section.freshbooks</id>
			<name>Setup Page Freshbooks Section</name>
			<class>
				<file>api/App.php</file>
				<name>WgmFreshbooks_SetupPageSection</name>
			</class>
			<params>
				<param key="page_id" value="core.page.configuration" />
				<param key="uri" value="freshbooks" />
			</params>
		</extension>
		
		<!-- Setup Page Menu Item -->
		
		<extension point="cerberusweb.ui.page.menu.item">
			<id>wgm.freshbooks.setup.menu.plugins.freshbooks</id>
			<name>Setup Page Freshbooks Menu Item</name>
			<class>
				<file>api/App.php</file>
				<name>WgmFreshbooks_SetupPluginsMenuItem</name>
			</class>
			<params>
				<param key="page_id" value="core.page.configuration" />
				<param key="menu_id" value="core.setup.menu.plugins" />
			</params>
		</extension>		
		
		<!-- Address Book Tabs -->
		
		<extension point="cerberusweb.contacts.tab">
			<id>wgm.freshbooks.contacts_tab</id>
			<name>Freshbooks Contacts Tab</name>
			<class>
				<file>api/App.php</file>
				<name>WgmFreshbooksContactsTab</name>
			</class>
			<params>
				<param key="uri" value="freshbooks" />
    			<param key="title" value="wgm.freshbooks.common" />
			</params>
		</extension>
		
		<!-- Org Tabs -->
		
		<extension point="cerberusweb.org.tab">
			<id>wgm.freshbooks.org_tab</id>
			<name>Freshbooks Org Tab</name>
			<class>
				<file>api/App.php</file>
				<name>WgmFreshbooksOrgTab</name>
			</class>
			<params>
				<param key="uri" value="freshbooks" />
    			<param key="title" value="wgm.freshbooks.common" />
			</params>
		</extension>
		
		<!-- Scheduled Jobs -->
		
		<extension point="cerberusweb.cron">
			<id>wgm.freshbooks.cron.sync</id>
			<name>Freshbooks Synchronize Cron</name>
			<class>
				<file>api/App.php</file>
				<name>WgmFreshbooksSyncCron</name>
			</class>
			<params />
		</extension>
		
    </extensions> 
</plugin>
