<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>wgm.freshbooks</id>
	<name>Freshbooks Integration</name>
	<description>This plugin provides integration with Freshbooks via their REST API. This plugin is intended to be a bridge used by other plugins to communicate with Freshbooks services. It adds records for Freshbooks Clients.  Plugin development has been sponsored by Nolan Interactive - http://www.nolaninteractive.com/</description>
	<author>WebGroup Media, LLC.</author>
	<version>1.0.7</version>
	<link>http://www.cerbweb.com/book/latest/plugins/wgm.freshbooks.html</link>
	<image>plugin.png</image>
 
	<!-- Requirements -->

	<requires>
		<app_version min="6.1" max="6.1.99" />
		<php_extension name="curl" />
	</requires>
 
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="6.1.0" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<patch version="5.3.0" revision="2" file="patches/5.3.0.php" />
		<patch version="6.1.0" revision="4" file="patches/6.1.0.php" />
	</patches>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/App.php">
			<class name="WgmFreshbooksAPI" />
			<class name="WgmFreshbooksHelper" />
		</file>
		<file path="api/dao/wgm_freshbooks_client.php">
			<class name="Context_WgmFreshbooksClient" />
			<class name="DAO_WgmFreshbooksClient" />
			<class name="Model_WgmFreshbooksClient" />
			<class name="SearchFields_WgmFreshbooksClient" />
			<class name="View_WgmFreshbooksClient" />
		</file>
		<file path="api/dao/freshbooks_invoice.php">
			<class name="Context_FreshbooksInvoice" />
			<class name="DAO_FreshbooksInvoice" />
			<class name="Model_FreshbooksInvoice" />
			<class name="SearchFields_FreshbooksInvoice" />
			<class name="View_FreshbooksInvoice" />
		</file>
	</class_loader>

	<!-- Extensions -->
 
	<extensions>
		
		<!-- Contexts -->
		
		<extension point="devblocks.context">
			<id>wgm.freshbooks.contexts.client</id>
			<name>Freshbooks Client</name>
			<class>
				<file>api/dao/wgm_freshbooks_client.php</file>
				<name>Context_WgmFreshbooksClient</name>
			</class>
			<params>
				<param key="alias" value="freshbooks_client" />
				<param key="dao_class" value="DAO_WgmFreshbooksClient" />
				<param key="view_class" value="View_WgmFreshbooksClient" />
				<param key="options">
					<value>
						<!--<data key="create" />-->
						<data key="find" />
						<!--<data key="snippets" />-->
						<data key="va_variable" />
						<data key="workspace" />
					</value>
				</param>
			</params>
		</extension>
		
		<extension point="devblocks.context">
			<id>wgm.freshbooks.contexts.invoice</id>
			<name>Freshbooks Invoice</name>
			<class>
				<file>api/dao/freshbooks_invoice.php</file>
				<name>Context_FreshbooksInvoice</name>
			</class>
			<params>
				<param key="alias" value="freshbooks_invoice" />
				<param key="dao_class" value="DAO_FreshbooksInvoice" />
				<param key="view_class" value="View_FreshbooksInvoice" />
				<param key="options">
					<value>
						<!--<data key="create" />-->
						<data key="find" />
						<!--<data key="snippets" />-->
						<data key="va_variable" />
						<data key="workspace" />
					</value>
				</param>
			</params>
		</extension>
		
		<!-- Event Listeners -->
		
		<extension point="devblocks.listener.event">
			<id>wgm.freshbooks.listener</id>
			<name>Freshbooks Event Listener</name>
			<class>
				<file>api/App.php</file>
				<name>WgmFreshbooks_EventListener</name>
			</class>
			<params>
				<param key="events">
					<value>
						<data key="org.merge" />						
					</value>
				</param>
			</params>
		</extension>

		<!-- Controller -->
		
		<extension point="devblocks.controller">
			<id>wgm.freshbooks.controller</id>
			<name>Freshbooks Controller</name>
			<class>
				<file>api/App.php</file>
				<name>WgmFreshbooksController</name>
			</class>
			<params>
				<param key="uri" value="wgm.freshbooks" />
			</params>
		</extension>

		<!-- Config Tab -->

		<extension point="cerberusweb.config.tab">
			<id>wgm.freshbooks.config_tab</id>
			<name>Freshbooks Config Tab</name>
			<class>
				<file>api/App.php</file>
				<name>WgmFreshbooksConfigTab</name>
			</class>
			<params>
				<param key="uri" value="freshbooks" />
    			<param key="title" value="wgm.freshbooks.common" />
			</params>
		</extension>
		
		<!-- Setup Page Sections -->
		
		<extension point="cerberusweb.ui.page.section">
			<id>wgm.freshbooks.setup.section.freshbooks</id>
			<name>Setup Page Freshbooks Section</name>
			<class>
				<file>api/App.php</file>
				<name>WgmFreshbooks_SetupPageSection</name>
			</class>
			<params>
				<param key="page_id" value="core.page.configuration" />
				<param key="uri" value="freshbooks" />
			</params>
		</extension>
		
		<!-- Setup Page Menu Item -->
		
		<extension point="cerberusweb.ui.page.menu.item">
			<id>wgm.freshbooks.setup.menu.plugins.freshbooks</id>
			<name>Setup Page Freshbooks Menu Item</name>
			<class>
				<file>api/App.php</file>
				<name>WgmFreshbooks_SetupPluginsMenuItem</name>
			</class>
			<params>
				<param key="page_id" value="core.page.configuration" />
				<param key="menu_id" value="core.setup.menu.plugins" />
			</params>
		</extension>		

		<!-- Profile Page Sections -->
		
		<extension point="cerberusweb.ui.page.section">
			<id>wgm.freshbooks.profiles.freshbooks_client</id>
			<name>Freshbooks Client Section</name>
			<class>
				<file>api/profiles/freshbooks_client.php</file>
				<name>PageSection_ProfilesFreshbooksClient</name>
			</class>
			<params>
				<param key="page_id" value="core.page.profiles" />
				<param key="uri" value="freshbooks_client" />
			</params>
		</extension>
		
		<!-- Org Tabs -->
		
		<extension point="cerberusweb.ui.context.profile.tab">
			<id>wgm.freshbooks.org_tab</id>
			<name>Freshbooks Org Tab</name>
			<class>
				<file>api/App.php</file>
				<name>WgmFreshbooksOrgTab</name>
			</class>
			<params>
				<param key="uri" value="freshbooks" />
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.org" />
					</value>
				</param>
    			<param key="title" value="wgm.freshbooks.common" />
			</params>
		</extension>
		
		<!-- Scheduled Jobs -->
		
		<extension point="cerberusweb.cron">
			<id>wgm.freshbooks.cron.sync</id>
			<name>Freshbooks Synchronize Cron</name>
			<class>
				<file>api/App.php</file>
				<name>WgmFreshbooksSyncCron</name>
			</class>
			<params />
		</extension>
		
    </extensions> 
</plugin>
